h1 {
    color: #5e17eb;
    font-size: 45px;
    margin-top: 4rem;
    text-align: center;
}

.portfolio-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.portfolio-content img {
    max-width: 50%;
    border-radius: 4px;
    margin-top: 6rem;
    margin-left: 10%;
    box-shadow: 2px 2px 4px gray, -2px -2px 4px gray;
}

.portfolio-content h2 {
    width: 30%;
    color: #5e17eb;
    text-align: justify;
    margin: auto;
    font-size: 26px;
}

.portfolio-content a {
    color: turquoise;
    font-weight: 600;
}

h3 {
    font-size: 45px;
    color: #5e17eb;
    margin-top: 8rem;
    text-align: center;
}

.tech-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tech-info img {
    max-height: 180px;
    max-width: 120px;
    filter: invert(14%) sepia(61%) saturate(7426%) hue-rotate(262deg) brightness(89%) contrast(109%);
    margin-top: 10rem;
}

.portfolio-info {
    margin-bottom: 8rem;
}

@media screen and (max-width: 1850px) {
    .portfolio-content h2 {
        margin-top: 4rem;
    }
    
  }
@media screen and (max-width: 1650px) {
    .portfolio-content h2 {
        font-size: 24px;
        margin-top: 4rem;
    }
    
  }


@media screen and (max-width: 1250px) {
    h1, h3 {
      font-size: 35px;
    
    }
    .portfolio-content h2 {
        font-size: 22px;
    }

    .tech-info img {
        max-height: 120px;
        max-width: 80px;
    }
    
  }

  @media screen and (max-width: 1150px) {
    .portfolio-content {
        display: flex;
        flex-direction: column;
    }

    .portfolio-content img {
       margin: auto;
       margin-top: 4rem;
    }

    
  }

  @media screen and (max-width: 800px) {
    h1, h3 {
        font-size: 28px;
    }

    .tech-info img {
        max-height: 90px;
        max-width: 60px;
    }

    
  }