body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    height: 300vh;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.main img {
    border-radius: 10px;
}

.custom-navbar {
    background-color: transparent;
    padding-top: 1rem;
}

.custom-navbar-menu a {
    color: #5e17eb;
    font-size: 18px;
}

.github-icon img, .linked-in-icon img {
    filter: invert(1);
}

.custom-navbar-dropdown {
    background-color: #5e17eb;
}

.custom-navbar-dropdown a {
    color: white;
}

.portfolio {
    background-color: #5e17eb;
    margin-top: 10rem;
    max-height: 500px;
}

.portfolio h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    padding-top: 4rem;
}

.portfolio p {
    font-size: 22px;
    text-align: center;
    color: whitesmoke;
    padding-top: 2rem;

}

.card, .card-2, .card-3, .card-4, .card-5, .card-6 {
    margin-top: 1-rem;
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    border-radius: 16px;
  } 

  /* 1s to flip the card */
  .card__inner, .card__inner-2, .card__inner-3, .card__inner-4, .card__inner-5, .card__inner-6 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    background-color: white;
    border-radius: 16px;
  }
  
  /* rotates the card 180 degrees on the Y-axis */
  .card__inner.is-flipped, .card__inner-2.is-flipped, .card__inner-3.is-flipped, .card__inner-4.is-flipped, .card__inner-5.is-flipped, .card__inner-6.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face, .card__face-2, .card__face-3, .card__face-4, .card__face-5, .card__face-6 {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front, .card__face--front-2, .card__face--front-3, .card__face--front-4, .card__face--front-5, .card__face--front-6 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .card__face--front h2, .card__face--front-2 h2, .card__face--front-3 h2, .card__face--front-4 h2, .card__face--front-5 h2, .card__face--front-6 h2 {
    color: #5e17eb;
    font-size: 25px;
    align-items: center;
    margin-bottom:0;
  
  }
  .card__face--front p, .card__face--front-2 p, .card__face--front-3 p, .card__face--front-4 p, .card__face--front-5 p, .card__face--front-6 p {
    color: white;
    font-size: 50px;
    align-items: center;
    margin-top:0;
  
  }
  
  .card__face--back, .card__face--back-2, .card__face--back-3, .card__face--back-4, .card__face--back-5, .card__face--back-6 {
    
    transform: rotateY(180deg)
  }
  
  .card__content, .card__content-2, .card__content-3, .card__content-4, .card__content-5, .card__content-6 {
    width: 100%;
    height: 100%;
  }
  
  .card__header, .card__header-2, .card__header-3, .card__header-4, .card__header-5, .card__header-6 {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  .card__header:after, .card__header-2:after , .card__header-3:after, .card__header-4:after, .card__header-5:after, .card__header-6:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
  }
  
  .card__body, .card__body-2, .card__body-3, .card__body-4, .card__body-5, .card__body-6 {
    color: white;
    font-size: 20px;
    margin: 1rem;
  }
  
  /* image styling, 50% border radius makes the image a circle */
  .coin-symbol {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .Developer-card {
    position: relative;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
  }
  
  .CryptoBasics-page {
    width: 100%;
    height: 150vh;
  }
  
  /* media queries to make it fully responsive */
  @media screen and (max-width: 1800px) {
    .card, .card-2, .card-3, .card-4, .card-5, .card-6 {
      margin: 100px auto 0;
      width: 400px;
      height: 500px;
    }
  
    .card__body, .card__body-2, .card__body-3, .card__body-4, .card__body-5, .card__body-6 {
      font-size: 19px;
      
    }    
    .CryptoBasics-page {
      width: 100%;
      height: 170vh;
    }
  }

  
  @media screen and (max-width: 1650px) {
    .card, .card-2, .card-3, .card-4, .card-5, .card-6 {
      margin: 100px auto 0;
      width: 350px;
      height: 500px;
    }
  
    .card__body, .card__body-2, .card__body-3, .card__body-4, .card__body-5, .card__body-6 {
      
      font-size: 18px;
    }    
  }
  
  @media screen and (max-width: 1500px) {
    .card, .card-2, .card-3, .card-4, .card-5, .card-6 {
      margin: 100px auto 0;
      width: 325px;
      height: 500px;
    }
  
    .card__body, .card__body-2, .card__body-3, .card__body-4, .card__body-5, .card__body-6 {
      
      font-size: 17px;
    }
    .card__face--front h2, .card__face--front-2 h2, .card__face--front-3 h2, .card__face--front-4 h2, .card__face--front-5 h2, .card__face--front-6 h2 {
  
      font-size: 28px;
  
    }  
  }
  
  @media screen and (max-width: 1350px) {
    .card, .card-2, .card-3, .card-4, .card-5, .card-6 {
      margin: 100px auto 0;
      width: 300px;
      height: 500px;
    }
  
    .card__body, .card__body-2, .card__body-3, .card__body-4, .card__body-5, .card__body-6 {
      
      font-size: 16px;
    }
    .card__face--front h2, .card__face--front-2 h2, .card__face--front-3 h2, .card__face--front-4 h2, .card__face--front-5 h2, .card__face--front-6 h2 {
  
      font-size: 26px;
  
    }  
  }
  
  @media screen and (max-width: 1200px) {
    .card, .card-2, .card-3, .card-4, .card-5, .card-6 {
      margin: 100px auto 0;
      width: 275px;
      height: 500px;
    }
  
    .card__body, .card__body-2, .card__body-3, .card__body-4, .card__body-5, .card__body-6 {
      
      font-size: 15px;
    }
    .card__face--front h2, .card__face--front-2 h2, .card__face--front-3 h2, .card__face--front-4 h2, .card__face--front-5 h2, .card__face--front-6 h2 {
  
      font-size: 24px;
  
    }  

  }
  
  @media screen and (max-width: 1150px) {
    .card, .card-2, .card-3, .card-4, .card-5, .card-6 {
      margin: 100px auto 0;
      width: 450px;
      height: 500px;
    }
    .card__body, .card__body-2, .card__body-3, .card__body-4, .card__body-5, .card__body-6 {
      
      font-size: 18px;
    }
    .card__face--front h2, .card__face--front-2 h2, .card__face--front-3 h2, .card__face--front-4 h2, .card__face--front-5 h2, .card__face--front-6 h2 {
  
      font-size: 30px;
  
    } 
    
    .Developer-card {
      display: flex;
      flex-direction: column;
      
    }
    .CryptoBasics-page {
      width: 100%;
      height: 100%;
      margin-bottom:50px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .card, .card-2, .card-3, .card-4, .card-5, .card-6 {
      margin: 100px auto 0;
      width: 400px;
      height: 500px;
    }
    .card__body, .card__body-2, .card__body-3, .card__body-4, .card__body-5, .card__body-6 {
      
      font-size: 16px;
    }
    .card__face--front h2, .card__face--front-2 h2, .card__face--front-3 h2, .card__face--front-4 h2, .card__face--front-5 h2, .card__face--front-6 h2 {
  
      font-size: 26px;
  
    } 
    
    .Developer-card {
      display: flex;
      flex-direction: column;
    }
    .CryptoBasics-page {
      width: 100%;
      height: 100%;
      margin-bottom:50px;
    }
  }


  .footer{
    color:white;
    margin-top:30%;
    font-variant: small-caps;
    font-size: 15px;
    text-align: center;
   
  }

  .footer img{
    height:30px;
    width:30px;
    padding-bottom:0px;
    margin-bottom:0;
  }

