* {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

body {
    background-color: whitesmoke
}

.header {
    padding: 20px;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}
    
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(59, 57, 57);
    text-decoration: none;
}

img {
    width: 1850px;
    object-fit: contain;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}